extends layout

block content
  style.
    h1 {
      color: #{choice?'#ccc':'#000'};
    }
    #mychoice {
      font-size: 200%;
      color: #c00;
    }
    .userId {
      color: #aaa;
    }
  script(src="/javascripts/jquery.min.js")
  script.
    $(document).ready(() => {
      $('#choose').click(function() {
        $.get('/choose'+window.location.search)
          .done(() => location.reload())
          .fail(e => $('#error').text('Что-то пошло не так'))
      })
    })

  h1 Тема: #{topic}
  h2 Выберите задачу
  p Уже выбрано #{usedCount} из #{totalCount}
  if choice
    h2#mychoice Вам досталась задача #{choice}
  else
    input#choose(type="button", value="Выбрать")
  p.userId User id: #{userId}
  #error
